main {
  padding: 20px;
}

header {
  background: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: #e69720;
}

footer {
  padding: 10px;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  text-align: center;
}